.MetaComponentDemo--mode-Usage {
  display: grid;
  min-height: 100vh;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 5px;
  grid-row-gap: 0px;

  grid-template-areas:
    "titleC"
    "modeC"
    "menuC"
    "htmlC"
    "cssC"
    "outputC";
}

@media only screen and (min-width: 700px) {
  .MetaComponentDemo--mode-Usage {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-template-areas:
      "titleC titleC modeC menuC"
      "htmlC htmlC cssC cssC"
      "buttonC buttonC buttonC buttonC";
  }
}

.MetaComponentDemo--mode-Usage .html_container {
  grid-area: htmlC;
}

.MetaComponentDemo--mode-Usage .css_container {
  grid-area: cssC;
}

.MetaComponentDemo--mode-Usage .add_container {
  grid-area: buttonC;
}

.MetaComponentDemo--mode-Usage .field_textarea {
  min-height: 10em;
  height: 30%;
}
